ion-modal {
  margin-top: 10rem;
}

ion-content::part(background) {
  background: #234352;
}

ion-item::part(native) {
  border-radius: 5px;
  margin-bottom: 0.5rem;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  font-family: InterRegular;
}

ion-content::part(scroll) {
  padding-bottom: 0;
}

ion-toolbar.tool {
  --background: var(--ion-color-primary) !important;
}

ion-input,
ion-item, ion-textarea, ion-select, ion-label, ion-datetime {
  font-family: InterRegular;
}

.item .sc-ion-label-ios-h {
  font-family: InterRegular;
}

ion-button::part(native) {
  border-radius: 50px;
  font-family: InterMedium;
}

