<ion-content class="ion-padding">
  <ion-modal trigger="open-modal-new-event">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Annuller</ion-button>
          </ion-buttons>
          <ion-title>Opret begivenhed</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="save()" [strong]="true">Gem</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Titel"
            labelPlacement="floating"
            type="text"
            [counter]="true"
            maxlength="20"
            [(ngModel)]="event.title"
            placeholder="Titel"
          />
        </ion-item>

        <ion-item (click)="showCalender = !showCalender">
          <ion-label>Start dato: </ion-label>
          <ion-text class="ion-hover" slot="end">{{ formattedDate }}</ion-text>
        </ion-item>

        <ion-datetime
          class="date-time"
          #start
          *ngIf="showCalender"
          [value]="event.date"
          presentation="date"
          (ionChange)="datePicked(start.value)"
        ></ion-datetime>

        <ion-item>
          <ion-textarea
            label="Beskrivelse"
            labelPlacement="floating"
            type="text"
            [autoGrow]="true"
            [(ngModel)]="event.description"
            placeholder="Beskrivelse"
          />
        </ion-item>

        <ion-item>
          <ion-input
            label="Lokation"
            labelPlacement="floating"
            type="text"
            [(ngModel)]="event.location"
            placeholder="Lokation"
          />
        </ion-item>

        <ion-item>
          <ion-select
            label="Kategori"
            label-placement="floating"
            [(ngModel)]="event.category"
          >
            <ion-select-option value="Sport/aktiv">Sport/aktiv</ion-select-option>
            <ion-select-option value="Kultur">Kultur</ion-select-option>
            <ion-select-option value="Underholdning">Underholdning</ion-select-option>
            <ion-select-option value="Socialt">Socialt</ion-select-option>
            <ion-select-option value="Kreativ">Kreativ</ion-select-option>
            <ion-select-option value="Spil">Spil</ion-select-option>
            <ion-select-option value="Gastronomi">Gastronomi</ion-select-option>
            <ion-select-option value="Andet">Andet</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input
            label="Min. personer"
            labelPlacement="floating"
            type="number"
            [(ngModel)]="event.minPersons"
            placeholder="Min. personer"
          />
        </ion-item>

        <ion-item>
          <ion-input
            label="Max. personer"
            labelPlacement="floating"
            type="number"
            [(ngModel)]="event.maxPersons"
            placeholder="Max. personer"
          />
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
