ion-header {
  z-index: 1;
  height: 18.5vh;
}

.header-img {
  position: relative;
  top: -1.5rem;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: RalewaySemiBold;
  font-size: 1.25rem;
  z-index: 2;
  color: #fff;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1rem;
  z-index: 2;
  color: #fff;
}

ion-toolbar {
  border-bottom: 2px solid white;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  --color: #fff;
  --padding-start: 2.5rem;
    --padding-end: 2.5rem;
}

.cardStr {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.picKnap,
.logUdKnap {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.picKnap {
  border-bottom: 2px solid white;
  margin-top: 0.5em;
  padding-bottom: 2em;
}

ion-toolbar,
ion-content,
ion-card,
ion-card-content,
ion-item,
div {
  --background: var(--ion-color-secondary);
}

ion-content,
ion-card-content,
ion-card,
ion-item,
img {
  box-shadow: none;
}

.navnTekst {
  margin-top: 2em;
}

.mailTekst {
  margin-top: 0.5em;
}

.navnInput, .mailInput {
  border-radius: 5px;

}

ion-input {
  color: #fff;
}

.picture {
  height: 15vh;
  width: 35vw;
  margin: auto;
    display: block;
}

ion-content::part(scroll){
  padding-bottom: 0;  
}

ion-button::part(native) {
  border-radius: 50px;
  margin-bottom: 0.2rem;
  font-family: InterSemiBold;
}

.mailTekst {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-family: InterSemiBold;
}

.navnInput,
.mailInput {
  border-radius: 5px;
  height: 2.5rem;
  display: flex;
  font-family: InterRegular;
  align-items: center;
  background-color: var(--ion-color-tertiary);
  color: #fff;
  padding-left: 0.5rem;
}

.picture {
  height: auto;
  width: 35vw;
}

ion-content::part(scroll) {
  padding-bottom: 0;
}

.logUdKnap {
  margin-top: 2rem;
}

.card-content-ios {
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-padding-end: 0px;
  padding-inline-end: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
