.mockup-img {
    position: absolute;
    opacity: 0.5;
    z-index: 1;
  }
  
  ion-header {
    z-index: 1;
    height: 18.5vh;
  }
  
  .header-img {
    position: relative;
    top: -1.5rem;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: RalewaySemiBold;
    font-size: 1.25rem;
    z-index: 2;
  }
  
  ion-toolbar {
    border-bottom: 2px solid white;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  // Content
  