.mockup-img {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}

ion-header {
  z-index: 1;
  height: 18.5vh;
}

.header-img {
  position: relative;
  top: -1.5rem;
}

ion-toolbar {
  border-bottom: 2px solid white;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: RalewaySemiBold;
  font-size: 1.25rem;
  z-index: 2;
}

// Content
.event-container {
  background-color: white;
  border-radius: 50px;
  width: 85vw;
  margin-top: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  height: 8vh;
}

.event-img-text {
  display: flex;
}

.event-img {
  border-radius: 5px 5px 5px 5px;
  width: 13vw;
  z-index: 6;
  background-image: url(https://i.pravatar.cc/285);
  background-size: cover;
  height: 13vw;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-wrapper{
  width: 100%;
}

.event-text {
  color: black;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.8rem;
}

.event-text h2 {
  font-size: 0.875rem;
  font-family: RalewaySemiBold;
  margin: 0;
}

.event-text p {
  font-size: 0.688rem;
  font-family: RalewayMediumItalic;
  margin: 0;
}

.acc-group {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: white;
  border-radius: 8px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px;
}

.text-item-div {
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item-content {
  display: flex;
}

.titel-item {
  font-family: RalewaySemiBold;
  font-size: 0.875rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  color: black;
}

.navn-item {
  font-family: RalewayRegular;
  font-size: 0.75rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  color: black;
}

.dato-item {
  font-family: InterRegular;
  font-size: 0.75rem;
  margin-top: 0;
}

.antal-item {
  font-family: RalewayRegular;
  font-size: 0.688rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.2rem;
}

.div-content {
  color: black;
  font-family: InterRegular;
  font-size: 0.75rem;
  margin: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.beskrivelse-text {
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

.p-margin-bottom {
  margin-bottom: 0;
}

.p-margin-top {
  margin-top: 0.5rem;
}

.text-and-icon-container{
  display: flex;
  justify-content: space-between;
}

.acc-icons-container{
  display: flex;
  align-items: end;
  gap: 1rem;
}

.acc-icon {
  font-size: 1.5rem;
}