<ion-header collapse="condense">
  <img
    class="header-img"
    src="../../assets/grafik/header-smaller.svg"
    alt="Buddys figurer som svæver i skyerne"
  />
</ion-header>

<ion-toolbar color="secondary">
  <h1>Mine Beskeder</h1>
</ion-toolbar>


<ion-content color="secondary" [fullscreen]="false">
  <div class="acc-group">
    <div class="list-item">
      <div class="list-item-content">
        <img class="event-img" src="https://i.pravatar.cc/285" alt="Profilbillede" />
        <div class="text-item-div">
          <h2 class="titel-item">Brætspil og rødvin</h2>
          <h3 class="navn-item">Maria Christiansen</h3>
        </div>
      </div>
      <ion-icon size="large" color="secondary" name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>