<ion-header collapse="condense">
  <img
    class="header-img"
    src="../../assets/grafik/header-smaller.svg"
    alt="Buddys figurer som svæver i skyerne"
  />
</ion-header>

<ion-toolbar color="secondary">
  <ion-buttons slot="secondary" (click)="toggleFavorites()">
    <ion-button>
      <ion-icon
        *ngIf="showFavorites"
        slot="icon-only"
        name="star"
        style="color: #ffd056"
      ></ion-icon>
      <ion-icon *ngIf="!showFavorites" slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons aria-hidden="true" class="filter" slot="primary">
    <ion-button>
      <ion-icon name="filter"></ion-icon>
    </ion-button>
  </ion-buttons>

  <h1>Alle Begivenheder</h1>
</ion-toolbar>

<ion-content color="secondary" [fullscreen]="false">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" class="white">
    <ion-refresher-content
      refreshingSpinner="crescent"
    ></ion-refresher-content>
  </ion-refresher>
  <ion-accordion-group
    class="acc-group"
    expand="inset"
    *ngFor="let event of events"
  >
    <ion-accordion value="Titel" class="acc">
      <ion-item class="acc-item" slot="header" color="light">
        <img
          class="event-img"
          src="https://i.pravatar.cc/285"
          alt="Profilbillede"
        />
        <div class="text-item-div">
          <h2 class="titel-item">{{event.title}}</h2>
          <h3 class="navn-item">{{event.displayName}}</h3>
          <h4 class="dato-item">{{event.date}}</h4>
        </div>
        <div class="buddys-figurer">
          <h5 class="antal-item">{{ displayNumberOfPerson(event) }}</h5>
          <img
            src="../../assets/grafik/buddys-figurer.svg"
            alt="Små buddys figurer"
          />
        </div>
      </ion-item>
      <div class="div-content" slot="content">
        <p class="p-margin-bottom"><b>Beskrivelse:</b></p>
        <p class="beskrivelse-text">{{event.description}}</p>
        <div class="text-and-icon-container">
          <div>
            <p class="p-margin-bottom p-margin-top">
              <b>Lokation:</b> {{event.location}}
            </p>
            <p class="p-margin-bottom p-margin-top">
              <b>Kategori:</b> {{event.category}}
            </p>
            <p class="p-margin-bottom p-margin-top">
              <b>Antal buddys:</b> {{ displayNumberOfPerson(event) }}
            </p>
          </div>
          <div class="acc-icons-container">
            <ion-icon
              *ngIf="!event.favoritterId && event.profilId !== userId"
              class="acc-icon"
              color="warning"
              name="star-outline"
              (click)="makeFavorite(event)"
            ></ion-icon>
            <ion-icon
              *ngIf="event.favoritterId && event.profilId !== userId"
              class="acc-icon"
              color="warning"
              style="color: #ffd056"
              name="star"
              (click)="undoFavorite(event)"
            ></ion-icon>
            <ion-button *ngIf="event.profilId !== userId" (click)="startChat(event.eventId)" size="small"
              >Tilmeld
              <ion-icon slot="end" size="small" name="mail-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
