<ion-header collapse="condense">
  <!-- <img class="mockup-img" src="../../assets/grafik/mockup-favoritter.png" alt=""> -->
  <img
    class="header-img"
    src="../../assets/grafik/header-smaller.svg"
    alt="Buddys figurer som svæver i skyerne"
  />
</ion-header>

<ion-toolbar color="secondary">
  <h1>Mine begivenheder</h1>
</ion-toolbar>

<ion-content color="secondary" [fullscreen]="true">
  <ion-accordion-group
    *ngFor="let event of events"
    class="acc-group"
    expand="inset"
    ><ion-accordion>
      <ion-item class="acc-item" slot="header" color="light">
        <img
          class="event-img"
          src="https://i.pravatar.cc/285"
          alt="Profilbillede"
        />
        <div class="text-item-div">
          <h2 class="titel-item">{{event.title}}</h2>
          <h3 class="navn-item"></h3>
          <h4 class="dato-item">d. {{event.date}}</h4>
        </div>
        <div class="buddys-figurer">
          <h5 class="antal-item">{{ displayNumberOfPerson(event) }}</h5>

          <img
            src="../../assets/grafik/buddys-figurer.svg"
            alt="Små buddys figurer"
          />
        </div>
      </ion-item>
      <div class="div-content" slot="content">
        <p class="p-margin-bottom"><b>Beskrivelse:</b></p>
        <p class="beskrivelse-text">{{ event.description }}</p>
        <div class="text-and-icon-container">
          <div>
            <p class="p-margin-bottom p-margin-top">
              <b>Lokation:</b> {{ event.location }}
            </p>
            <p class="p-margin-bottom p-margin-top">
              <b>Kategori:</b> {{ event.category }}
            </p>
            <p class="p-margin-bottom p-margin-top">
              <b>Antal buddys:</b> {{ displayNumberOfPerson(event) }}
            </p>
          </div>
          <div class="acc-icons-container">
            <ion-icon
              [id]="['open-modal-edit-event' + event.eventId]"
              class="acc-icon"
              name="ellipsis-horizontal"
            ></ion-icon>
            <ion-icon
              (click)="deleteAlert(event)"
              class="acc-icon"
              name="trash"
            ></ion-icon>
          </div>
        </div>
      </div>
      <app-edit-event [event]="event"></app-edit-event>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-btn" id="open-modal-new-event">
      <ion-icon class="fab-icon" color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-add-event></app-add-event>