<ion-header collapse="condense">
  <!-- <img class="mockup-img" src="../../assets/grafik/mockup-favoritter.png" alt=""> -->
  <img
    class="header-img"
    src="../../assets/grafik/header-smaller.svg"
    alt="Buddys figurer som svæver i skyerne"
  />
</ion-header>

<ion-toolbar color="secondary">
  <h1>Mine begivenheder</h1>
</ion-toolbar>

<ion-content color="secondary" [fullscreen]="true">
  <ion-accordion-group class="acc-group" expand="inset">
    <ion-accordion value="Titel" class="acc">
      <ion-item class="acc-item" slot="header" color="light">
        <img
          class="event-img"
          src="https://i.pravatar.cc/285"
          alt="Profilbillede"
        />
        <div class="text-item-div">
          <h2 class="titel-item">Brætspil og rødvin</h2>
          <h3 class="navn-item">Maria Christiansen</h3>
          <h4 class="dato-item">d. 25/11-23</h4>
        </div>
        <div class="buddys-figurer">
          <h5 class="antal-item">2-4</h5>
          <img
            src="../../assets/grafik/buddys-figurer.svg"
            alt="Små buddys figurer"
          />
        </div>
      </ion-item>
      <div class="div-content" slot="content">
        <p class="p-margin-bottom"><b>Beskrivelse:</b></p>
        <p class="beskrivelse-text">
          Hej med jer. Jeg søger nogle buddys som har lyst til at starte en
          Dungeons & Dragons kampagne sammen med mig. Jeg er selv 28 år, og
          foretrækker at finde nogle jævnaldrende, som ville være frisk på at
          spille i et par timer hver uge.
        </p>
        <div class="text-and-icon-container">
          <div>
            <p class="p-margin-bottom p-margin-top">
              <b>Lokation:</b> Køge eller online
            </p>
            <p class="p-margin-bottom p-margin-top">
              <b>Kategori:</b> Seværdigheder
            </p>
            <p class="p-margin-bottom p-margin-top"><b>Antal buddys:</b> 2-4</p>
          </div>
          <div class="acc-icons-container">
            <ion-icon id="open-modal" class="acc-icon" name="ellipsis-horizontal"></ion-icon>
            <ion-icon (click)="deleteAlert()" class="acc-icon" name="trash"></ion-icon>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group class="acc-group" expand="inset">
    <ion-accordion value="Titel1" class="radius">
      <ion-item class="acc-item" slot="header" color="light">
        <img
          class="event-img"
          src="https://i.pravatar.cc/285"
          alt="Profilbillede"
        />
        <div class="text-item-div">
          <h2 class="titel-item">Brætspil og rødvin</h2>
          <h3 class="navn-item">Maria Christiansen</h3>
          <h4 class="dato-item">d. 25/11-23</h4>
        </div>
        <div class="buddys-figurer">
          <h5 class="antal-item">2-4</h5>
          <img
            src="../../assets/grafik/buddys-figurer.svg"
            alt="Små buddys figurer"
          />
        </div>
      </ion-item>
      <div class="div-content" slot="content">
        <p class="p-margin-bottom"><b>Beskrivelse:</b></p>
        <p class="beskrivelse-text">
          Hej med jer. Jeg søger nogle buddys som har lyst til at starte en
          Dungeons & Dragons kampagne sammen med mig. Jeg er selv 28 år, og
          foretrækker at finde nogle jævnaldrende, som ville være frisk på at
          spille i et par timer hver uge.
        </p>
        <div class="text-and-icon-container">
          <div>
            <p class="p-margin-bottom p-margin-top">
              <b>Lokation:</b> Køge eller online
            </p>
            <p class="p-margin-bottom p-margin-top">
              <b>Kategori:</b> Seværdigheder
            </p>
            <p class="p-margin-bottom p-margin-top"><b>Antal buddys:</b> 2-4</p>
          </div>
          <div class="acc-icons-container">
            <ion-icon class="acc-icon" name="ellipsis-horizontal"></ion-icon>
            <ion-icon class="acc-icon" name="trash"></ion-icon>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-btn" id="open-modal-new-event">
      <ion-icon class="fab-icon" color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 <!-- <ion-modal trigger="open-modal-new-event">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Annuller</ion-button>
          </ion-buttons>
          <ion-title>Opret begivenhed</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="save()" [strong]="true">Gem</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

     <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Titel"
            labelPlacement="stacked"
            type="text"
            [(ngModel)]="title"
            placeholder="Titel"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Emne"
            labelPlacement="stacked"
            type="text"
            [(ngModel)]="subject"
            placeholder="Emne"
          />
        </ion-item>
        <ion-item>
          <ion-select
            label="Kategori"
            label-placement="stacked"
            [(ngModel)]="category"
          >
            <ion-select-option value="Lektier">Lektier</ion-select-option>
            <ion-select-option value="Afleveringer"
              >Afleveringer</ion-select-option
            >
            <ion-select-option value="Events">Events</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-textarea
            label="Beskrivelse"
            labelPlacement="stacked"
            type="text"
            [autoGrow]="true"
            [(ngModel)]="description"
            placeholder="Beskrivelse"
          />
        </ion-item>
        <ion-item lines="none">
          <ion-toggle
            labelPlacement="start"
            justify="start"
            [(ngModel)]="allDay"
            >Hele dagen:</ion-toggle
          >
        </ion-item>

        <ion-item (click)="showStart = !showStart">
          <ion-label>Start dato: </ion-label>
          <ion-text class="ion-hover" slot="end">{{formattedStart }}</ion-text>
        </ion-item>

        <ion-datetime
          class="date-time"
          #start
          *ngIf="showStart"
          [value]="startTime"
          [presentation]="allDay ? 'date' : 'time-date'"
          (ionChange)="startTimeChanged(start.value)"
        ></ion-datetime>

        <ion-item (click)="showEnd = !showEnd">
          <ion-label>Slut dato:</ion-label>
          <ion-text slot="end">{{formattedEnd}}</ion-text>
        </ion-item>
        <ion-datetime
          class="date-time"
          #end
          *ngIf="showEnd"
          [value]="endTime"
          [(ngModel)]="endTime"
          [presentation]="allDay ? 'date' : 'time-date'"
          (ionChange)="endTimeChanged(end.value)"
        ></ion-datetime>
      </ion-content> 
    </ng-template>
  </ion-modal> -->
</ion-content>
