ion-modal{
    margin-top: 10rem;
}

  .skiftSlet::part(native) {
    background-color: var(--ion-color-primary);
    color: #fff;
  }

  .slet::part(native) {
    background-color: var(--ion-color-danger);
    color: #fff;
  }

  .pswDel {
    color: var(--ion-color-secondary);
  }

  .button-clear::part(native) {
    border-radius: 14px;
  }

  .sletKnap {
    background-color: var(--ion-color-secondary);
  }

  .newPassword {
    margin-top: 10em;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  .nuværende {
    margin-bottom: 2em;
  }

 ion-toolbar.tool {
    --background: var(--ion-color-primary) !important;
  }