<ion-content class="ion-padding">
  <ion-modal trigger="open-modal-password">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>Skift adgangskode</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content color="secondary" scrollY="false">

      <ion-list class="skiftSlet" [inset]="true">

          <ion-item>
            <app-show-hide-password>
              <p slot="start">
                Nuværende adgangskode
              </p>
              <ion-input type="password" value="password" class="ion-text-right"></ion-input>
          </app-show-hide-password>
          </ion-item>

      </ion-list>
      <ion-list class="skiftSlet" [inset]="true" class="newPassword"> 

        <ion-item>
          <app-show-hide-password>
            <p slot="start">
              Ny adgangskode
            </p>
            <ion-input type="password" placeholder="password" class="ion-text-right"></ion-input>
          </app-show-hide-password>
        </ion-item>

        <ion-item>
          <app-show-hide-password>
            <p slot="start">
              Gentag ny adgangskode
            </p>
            <ion-input type="password" placeholder="password" class="ion-text-right"></ion-input>
          </app-show-hide-password>
        </ion-item> 
          
      </ion-list>

      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Annuller</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="save()" [strong]="true">Gem</ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>