body, ion-card, .bg-img {
    background-color: var(--ion-color-success);
    box-shadow: none;
}

.hd-img {
    width: 80%;
    height: 35vh;
    margin-top: -3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
}

h1 {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 0;
    font-family: RalewaySemiBold;
    font-size: 3.8rem;
    color: #000;
  }

.logInd {
    width: 100%;
    margin-bottom: -1.5rem;
}

.kodeInput, .mailInput {
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
}

ion-input, .btn, .eller, .signUp {
    color: #fff;
  }

.kodeInput {
    margin-top: 1em;
}

.logIndKnap, .eller, .signUp {
    display: flex;
    justify-content: center;
  }

.logIndKnap {
    margin: auto;
}

  ion-button.signUp {
    text-decoration: underline #000 2px;
    color: #000;
    font-size: 0.5rem;
    --background: none;
  }

.signUp {
    text-decoration: underline #000 2px;
    color: var(--ion-color-sedondary);
    font-size: 0.5rem;
    --background: none;
    --background-activated: none;
  }