body {
    background-color: var(--ion-color-success);
}

.hd-img {
    width: 80%;
    height: 40vh;
    margin: auto;
    display: block;
}

.bg-img {
    background-color: var(--ion-color-success);
}