ion-modal{
    margin-top: 10rem;
}

  .skiftSlet::part(native) {
    background-color: var(--ion-color-primary);
    color: #fff;
  }

  .slet::part(native) {
    background-color: var(--ion-color-danger);
    color: #fff;
  }

  .skiftSlet {
    height: 5vh;
    width: 35vw;
    margin: 10em auto 100em auto;
    display: block;
  }

  .pswDel {
    color: var(--ion-color-secondary);
  }

  .redigerFelter {
    margin-top: 10em;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  .mail {
    text-align: end;
  }

  ion-toolbar.tool {
    --background: var(--ion-color-primary) !important;
  }

  ion-button::part(native) {
    border-radius: 50px;
  }