.mockup-img {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}

ion-header {
  z-index: 1;
  height: 18.5vh;
}

.header-img {
  position: relative;
  top: -1.5rem;
}

.placeholder-img {
  position: absolute;
  top: 0;
  z-index: 56;
  opacity: 0.3;
}

ion-toolbar {
  border-bottom: 2px solid white;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: RalewaySemiBold;
  font-size: 1.25rem;
  z-index: 2;
}

.profil-img {
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
}

.event-h2 {
  text-align: center;
  margin-top: 0.5rem;
  font-family: RalewayMediumItalic;
  font-size: 0.938rem;
  z-index: 2;
  color: white;
}

.message-content {
  --keyboard-offset: 300px;

  padding-top: 1rem;
  background-color: var(--ion-color-secondary);
}

.message-area {
  margin-bottom: 5rem;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.message {
  // margin-left: 1.8rem;
  // margin-right: 1.8rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  color: black;
  font-family: RalewaySemiBold;
  font-size: 0.625rem;
}

p {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.message-time {
  font-family: RalewayLightItalic;
  color: #6c6c6c;
  font-size: 0.625rem;
  text-align: end;
  margin-bottom: 0;
  margin-top: 0;
}

.sender {
  text-align: start;
  margin-right: 7rem;
  background-color: var(--ion-color-success);
}

.reciever {
  text-align: start;
  margin-left: 7rem;
  background-color: var(--ion-color-light);
}

.message-bar {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-secondary);
  position: fixed;
  bottom: 0;

  ion-input {
    width: 85vw;
    height: 2.5rem;
    border-radius: 25px;
    border: 0px;
    --padding-start: 1rem;
    --padding-end: 4rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --placeholder-color: black;
    font-family: InterRegular;
  }

  .send-btn {
    width: 15vw;
    height: 2.8rem;
    background-color: var(--ion-color-primary);
    margin-left: -15vw;
    z-index: 2;
    border-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: var(--ion-color-success);
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--ion-color-success);
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -8px;
  width: 8px;
  height: 20px;
  background: var(--ion-color-secondary);
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: rgb(0, 0, 0);
  margin-left: 25%;
  background: #ffffff;
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #ffffff;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -8px;
  width: 8px;
  height: 20px;
  background: var(--ion-color-secondary);
  border-bottom-left-radius: 10px;
}
