<!-- <img class="placeholder-img" src="../../../assets/grafik/mockup-samtale.png"/> -->
<ion-header collapse="condense">
  <img
    class="header-img"
    src="../../assets/grafik/header-smaller.svg"
    alt="Buddys figurer som svæver i skyerne"
  />
</ion-header>

<ion-toolbar color="secondary">
  <ion-buttons slot="secondary">
    <ion-buttons slot="secondary">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <h1>Samtale med x</h1>
</ion-toolbar>
<h2 class="event-h2">Brætspil & Rødvin</h2>

<ion-content>
  <div></div>
</ion-content>