<!-- <img class="placeholder-img" src="../../../assets/grafik/mockup-samtale.png"/> -->
<ion-header collapse="condense">
  <img
    class="header-img"
    src="../../assets/grafik/header-smaller.svg"
    alt="Buddys figurer som svæver i skyerne"
  />
</ion-header>

<ion-toolbar color="secondary">
  <ion-buttons slot="secondary">
    <ion-button slot="secondary" routerLink="/tabs/tab2">
      <ion-icon name="arrow-undo" color="primary"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <img
        class="profil-img"
        src="{{getOtherChatPersonPhotoURL()}}"
        alt="Profilbillede"
      />
    </ion-button>
  </ion-buttons>
  <h1>Samtale med <br> {{getOtherChatPersonName()}}</h1>
</ion-toolbar>
<h2 class="event-h2">{{event.title}}</h2>

<ion-content color="secondary" id="message-content" class="message-content">
  <div class="message-area">
    <div *ngFor="let message of messages">
      <div [class]="getMessageOuterDisplay(message)">
        <div [class]="getMessageInnerDisplay(message)">
          <p>{{message.message}}</p>
          <p class="message-time">{{message.time | date: 'dd/MM HH:mm'}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="message-bar">
    <ion-input placeholder="Skriv besked her" [(ngModel)]="message"></ion-input>
    <button class="send-btn" (click)="sendMessage()">
      <ion-icon color="light" name="send"></ion-icon>
    </button>
  </div>
</ion-content>
